.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 0 1rem 1.7rem;
}

.tournamentIcon {
  width: 36px;
}

.dateTimeLocation {
  text-align: start;
  margin-left: 0.75rem;
}

.soccerField {
  height: 450px;

  background: rgba(0, 0, 0, 0.5)
    url('../../../assets/images/isolated-soccer-field-ball-game-striped-green-background-competitive-sport-lawn-stadium-with-markings_265358-60.avif');
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 0.5rem;

  display: flex;
}

.soccerFieldContent {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.soccerFieldContent-isFinishedMatch {
  flex: 1;

  display: flex;
  justify-content: stretch;
}

.matchSubscriptionStatus {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 106px 0 106px;

  /* background-color: rgba(255, 0, 0, 0.1); */
}

.matchPlayersContainer {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 106px 18px 106px;

  /* background-color: rgba(0, 0, 255, 0.1); */
}

.matchPlayers {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  gap: 25px;
  flex-wrap: wrap;
}

.team {
  flex: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4.5rem 0;
}

.teamA {
  align-items: end;
}

.result {
  font-size: 120px;
  flex: 6;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.68rem;
}

.footer {
  text-align: start;
  margin: 1rem 0 0 1.7rem;
}
