.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 1rem 1.7rem;
}

.tournamentIcon {
  width: 36px;
  background-color: white;
  padding: 2px;
  border-radius: 8px;
}

.dateTimeLocation {
  text-align: start;
  margin-left: 0.75rem;
}

.soccerField {
  height: 450px;

  background: url('/soccer-field.avif') rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 0.5rem;

  display: flex;
}

.soccerFieldIsRegistryOpen {
  background: url('/soccer-field.avif') rgba(0, 0, 0, 0.25);
}

.soccerFieldContent {
  flex: 1;

  display: flex;
  flex-direction: column;
  padding: 37px 65px 38px 63px;
}

.matchSubscriptionStatus {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchPlayersContainer {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.matchPlayers {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 2px;
}

.matchPlayersAlternative {
  gap: 0px;
}

.playerIconAlternative12P {
  padding: 5px 15px;
}

.playerIconAlternative14P {
  padding: 5px 10px;
}

.playerIconAlternative16P {
  padding: 5px;
}

.soccerFieldContent-isFinishedMatch {
  flex: 1;

  display: flex;
  padding: 57px 45px 58px 43px;
}

.team {
  flex: 3;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  /* gap: 5px; // .team */
  gap: 5px;
}

.teamB {
  direction: rtl;
}

.resultContainer {
  flex: 5;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.resultTeam {
  flex-grow: 3;
  flex-basis: 0;

  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.resultTeamB {
  justify-content: flex-start;
}

.resultSeparator {
  flex-grow: 1;
  flex-basis: 0;

  margin-bottom: 23.25px;
  /* .resultSeparator margin-bottom depends on .result font-size */
}

.footer {
  text-align: start;
  margin: 1rem 0 0 1.7rem;
}
