.matchForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 400px;
}

.matchForm fieldset {
  display: flex;
  gap: 25px;
}

.matchForm fieldset button,
.matchForm fieldset input {
  flex: 1;
}

.matchForm fieldset.matchDateTime div {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.matchForm fieldset.type {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.matchForm fieldset.type div {
  flex: 1;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.matchForm fieldset.type div button {
  flex: 0;

  padding: 0;
  border: none;
  color: inherit;
  background-color: rgb(45, 45, 45);
  cursor: pointer;

  min-width: 30px;
  min-height: 30px;
  border-radius: 30px;
  font-size: smaller;
  color: rgb(100, 100, 100);
}

.selectedTeamPlayerQuota {
  color: white !important;
  background-color: rgb(64, 150, 255) !important;
  font-size: medium !important;
  font-weight: 500;
}

.matchForm fieldset.matchSubscriptionDateTime {
  display: flex;
  flex-direction: column;
}

.matchForm fieldset.matchSubscriptionDateTime > div {
  flex: 1;

  display: flex;
  gap: 25px;
}

.matchForm fieldset.matchSubscriptionDateTime > div > div {
  flex: 1;

  display: flex;
  background-color: rgb(45, 45, 45);
  border-radius: 10px;
  padding: 15px;
}

.matchForm fieldset.matchSubscriptionDateTime > div > div:hover {
  cursor: pointer;
}

.matchForm fieldset.matchSubscriptionDateTime > div > div:nth-child(1) {
  justify-content: center;
  align-items: center;
  color: rgb(100, 100, 100);
  opacity: 80%;
}

.matchForm fieldset.matchSubscriptionDateTime > div > div:nth-child(1):hover {
  opacity: 100%;
}

.matchForm fieldset.matchSubscriptionDateTime > div > div:nth-child(2) {
  flex-direction: column;
  gap: 15px;
}

.matchForm fieldset.matchSubscriptionDateTime > div > div:nth-child(2) input {
  opacity: 25%;
}

.matchForm
  fieldset.matchSubscriptionDateTime
  > div
  > div:nth-child(2)
  input:hover {
  cursor: pointer;
  opacity: 35%;
}

.selectedSubscriptionDateTime {
  color: white !important;
  background-color: rgb(64, 150, 255) !important;
  font-size: medium !important;
  cursor: default !important;
  opacity: 100% !important;
}

.selectedSubscriptionDateTime span {
  font-weight: 500;
}

.selectedSubscriptionDateTime input {
  cursor: default !important;
  opacity: 100% !important;
}

.subscribePlayersToMatch {
  display: flex;
}

.subscribePlayersToMatch div {
  flex: 1;
}

.subscribePlayersToMatch ul li {
  cursor: pointer;
}
