.mainDiv {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.tournamentIcon {
  padding: 0.5rem 0.5rem 0.5rem 1.65rem;
}

.dateLocation {
  text-align: start;
  padding: 0.5rem;
}

.content {
  min-height: 450px;

  background: rgba(0, 0, 0, 0.5)
    url('../../assets/images/isolated-soccer-field-ball-game-striped-green-background-competitive-sport-lawn-stadium-with-markings_265358-60.avif');
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: stretch;
}

.team {
  flex: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4.5rem 0;
}

.teamA {
  align-items: end;
}

.result {
  font-size: 120px;
  flex: 6;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.68rem;
}

.footer {
  text-align: start;
  padding: 1rem 2rem;
}
