.tournamentDetailSection {
  /* background-color: lightblue; */

  align-items: stretch;
}

.main {
  flex: 1;
  display: flex;
  justify-content: stretch;
}

.matches {
  flex: 1;
}

.matches .nextMatch {
  width: 200px;
  height: 200px;
  background-color: lightpink;
}

.matches .lastMatch {
  width: 200px;
  height: 200px;
  background-color: pink;
}

.standings {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: start;
}
