.playerIconContainer {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  background-color: white;
  padding: 2px;
}

.playerIconContainerIsUserSubscribed:hover {
  /* to point out the action of unsuscribeFromMatch() */
  cursor: pointer;
}

.playerIcon {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 45px;
  /* vertical-align: middle; */
}

.noPlayerContainer {
  min-width: 45px;
  min-height: 45px;
  border-radius: 45px;
  background-color: transparent;
  border: 2px dashed white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.noPlayerContainerIsRegistryOpen:hover {
  /* to point out the action of suscribeToMatch() */
  cursor: pointer;
}

.noPlayerContainerIsUserSubscribed:hover {
  /* if user is subscribed, overwrites .noPlayerContainerIsRegistryOpen:hover */
  cursor: default;
}

.noPlayerContainer p {
  visibility: hidden;
}

.noPlayerContainerIsRegistryOpen:hover p {
  visibility: visible;
}

.noPlayerContainerIsRegistryOpen:active p {
  font-size: 1.2rem;
}

.noPlayerContainer:hover .isUserSubscribed {
  /* if user is subscribed, overwrites .noPlayerContainerIsRegistryOpen:hover p */
  visibility: hidden;
}
