.actionBar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(255, 155, 155, 0.1);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 12px;
}

.actionBar button span {
  writing-mode: vertical-rl;
}

.actionsList {
  position: absolute;
  right: 0;
  transform: translateY(45px);

  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  background-color: rgba(25, 25, 25, 0.95);
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.adminActions {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.adminActions span {
  font-size: smaller;
}
