a.navItem {
  font-size: small;
}

a.navItem:hover {
  color: rgb(64, 150, 255);
  transition: 0.2s;
}

a.navItem:active {
  color: rgb(9, 88, 217);
  transition: 0.2s;
}

/* a.navItem:focus, */
a.navItem:focus-visible {
  outline-color: rgb(145, 202, 255);
  padding: 5px 12px 7px 12px;
  border-radius: 25px;
}

a.navItem.activeLink {
  color: rgb(145, 202, 255);
}

a.navItem.activeLink:hover {
  cursor: default;
}

a.navItem.activeLink:active {
  color: rgb(145, 202, 255);
}

a.navItem.previousMatch {
  color: rgb(190, 190, 190);
}

a.navItem.nextMatch::before {
  content: '> ';
}

a.navItem.nextMatch::after {
  content: ' < ';
}
