a.navItem:hover {
  color: rgb(64, 150, 255);
  transition: 0.2s;
}

a.navItem:active {
  color: rgb(9, 88, 217);
  transition: 0.2s;
}

/* a.navItem:focus, */
a.navItem:focus-visible {
  outline-color: rgb(145, 202, 255);
  padding: 5px 12px 7px 12px;
  border-radius: 25px;
}

a.navItem.activeLink {
  color: rgb(145, 202, 255);
}

a.navItem.activeLink:hover {
  color: rgb(9, 88, 217);
}

a.navItem.activeLink:active {
  color: rgb(64, 150, 255);
}

.matchesList {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);

  margin-top: 16px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px 20px 30px;
}

.matchesLocation {
  border: 1px solid rgb(145, 202, 255);
}
