.breadcrumbs {
  margin-right: auto;
  padding: 0 12px 4px 12px;

  font-weight: 100;
  font-size: small;
}

.breadcrumbs span {
  cursor: default;
}

.breadcrumbs a:hover {
  color: rgb(64, 150, 255);
  transition: 0.2s;
}

.breadcrumbs a:active {
  color: rgb(9, 88, 217);
  transition: 0.2s;
}

/* .breadcrumbs a:focus, */
.breadcrumbs a:focus-visible {
  outline-color: rgb(145, 202, 255);
  padding: 5px 12px 7px 12px;
  border-radius: 25px;
}

.breadcrumbs a.activeLink {
  color: rgb(145, 202, 255);
}

.breadcrumbs a.activeLink:hover {
  color: rgb(9, 88, 217);
}

.breadcrumbs a.activeLink:active {
  color: rgb(64, 150, 255);
}
