.playerIconContainer {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  background-color: white;
  padding: 2px;

  position: relative;
}

.playerIconContainer:hover {
  background-color: rgb(64, 150, 255);
  transition: 0.2s;
}

.playerIconContainer:active {
  background-color: rgb(9, 88, 217);
  transition: 0.2s;
}

.playerIcon {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 45px;
}
