.item {
  max-width: 120px;
  margin: 0 1rem 1rem;
}

.iconContainer {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
}

.icon {
  max-width: 65%;
}

.itemName {
  width: 100%;
  margin-top: 0.5em;
}
