.item {
  padding: 0 1em;
}

.iconContainer {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 120px;
}

.icon {
  max-width: 65%;
}

.itemName {
  width: 100%;
  padding-top: 0.5em;
}
